<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
        <div class="container py-5">
          <div class="row">
            <div class="pb-2">
              <input formControlName="email" type="text" class="form-control" placeholder="E-mail">
            </div>
            <div class="pb-2">
              <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div>
              <button class="btn btn-primary w-100">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>