<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
        <div class="container py-5">
          <div class="row">
            <div class="pb-2">
              <input formControlName="email" type="text" class="form-control" placeholder="E-mail">
              <span class="text-small text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.controls['email'].getError('required')">This field is required</span>
            </div>
            <div class="pb-2">
              <input formControlName="password" type="password" class="form-control" placeholder="Password">
              <span class="text-small text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].getError('required')">This field is required</span>
            </div>
            <div>
              <button class="btn btn-primary w-100">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
