
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn bold p-color btn-shadow border-primary" (click)="change_step('ngb-slide-0')">GENERAL</button>
      <button class="btn bold s-color btn-shadow border-secondary" (click)="change_step('ngb-slide-1')">FATSAAS</button>
      <button class="btn bold p-color btn-shadow border-primary" (click)="change_step('ngb-slide-2')">CS50X.NI</button>
    </div>
  </div>
</nav>



<ngb-carousel [interval]="0" #carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" id="main_carousel">
   

  <!-- PRIMER SLIDE -->
  <ng-template ngbSlide #main>
    <div class="row" id="info">
      <div class="col-md-3 l-side">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-sm-4 col-5 mt-3">
            <img src="assets/img/kavv-600x600.png"  class="img-fluid img-circle" alt="Kevin Valverde Photo">
          </div>
          <div class="col-md-10 text-center ">
            <h3 class="mt-2 bold info-g">GENERAL INFORMATION</h3>
            <label class="text-mono bold w-100">Managua, Nicaragua</label>
            <label class="text-mono bold w-100">(+505) 8244-9347</label>
            <label class="text-mono bold w-100 info-email">1997kavv@gmail.com</label>
            <label class="text-mono bold w-100">Kavv</label>
          </div>
        </div>        
      </div>
      <div class="col-md-3 r-side div-aux">
      </div>
      <div class="col-md-9 r-side text-center">
        <h2 class="text-light text-mono bold mt-3 info-name">KEVIN ANTONIO VALVERDE VARELA</h2>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 col-sm-6 col-8">
            <div>
              <img src="assets/img/nota3.png" class="img-fluid">
              <p class="text-note text-mono">I'm a programmer hungry for knowledge and
                a web systems programmer with 3 years of experience
                improving the functioning of organizations with
                information systems solutions</p>
            </div>
          </div>
          <div class="col-md-7">
          </div>
        </div>
      </div>
    </div>
  </ng-template> 

  <!-- Segundo slide proyectos -->
  <ng-template ngbSlide #fatsaas>
    <div class="row" id="Projects">
      <div class="col-md-3 l-side">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center project-b">
            <h3 class="mt-2 bold project-name">FATSAAS</h3>
          </div>
          <div class="col-md-12 p-0 text-center">
            <h3 class="py-2 bold sub-title info-g">TECHNOLOGIES</h3>
            <label class="text-mono bold w-100">Laravel</label>
            <label class="text-mono bold w-100">PostgreSQL</label>
            <label class="text-mono bold w-100">AWS (RDS & S3)</label>
            <label class="text-mono bold w-100">JasperReport</label>
            <label class="text-mono bold w-100">Heoku</label>
          </div>
          <div class="col-md-12 p-0 text-center">
            <h3 class="py-2 bold sub-title info-g">EXTRAS</h3>
            <label class="text-mono bold w-100">SaaS</label>
            <label class="text-mono bold w-100">Multitenancy</label>
          </div>
        </div>     
      </div>
      <div class="col-md-3 r-side div-aux">
      </div>
      <div class="col-md-9 r-side text-center text-mono large-div">
        <h2 class="bold sub-title pt-2 pb-1 rounded mr-3 mt-3">ABOUT THIS PROJECT</h2>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6 col-sm-7 col-12 text-light">
            <label for="" class="w-100 b-shadow rounded">It is a Management Information System</label>
            <label for="" class="w-100 b-shadow rounded">It is in charge of managing: </label>
            <p class="px-5 b-shadow rounded">
              Clients, staff, inventory, catering menu, reservations, users, roles and modifying the multimedia of your landing page.
            </p>
          </div>
          <div class="col-md-4 col-sm-4 col-5">
            <img src="assets/img/idea.png" alt="fatsaas objective" class="img-fluid">
          </div>
        </div>


        <h3 class="bold sub-title pt-2 pb-1 rounded mr-3">SOME FUNCTIONALITIES</h3>
        <div class="row mb-4">
          <div class="col-md-6 mb-4">
            <h5 class="text-light bold">RESERVATIONS</h5>
            <div class="functionalities">
              <img src="assets/img/fatsaas-r1.PNG" alt="Fatsaas Reservations" class="img-fluid" (click)="openLg(content,1)">
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-light bold">MODIFY LANDING</h5>
            <div class="functionalities">
              <img src="assets/img/fm.PNG" alt="Fatsaas Reservations" class="img-fluid" (click)="openLg(content,2)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  
  <!-- Segundo slide proyectos -->
  <ng-template ngbSlide #cs50>
    <div class="row" id="CS50x">
      <div class="col-md-3 l-side">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center project-b">
            <h3 class="mt-2 bold project-name cs50-short">CS50X.NI RESERVATIONS</h3>
          </div>
          <div class="col-md-12 p-0 text-center">
            <h3 class="py-2 bold sub-title info-g">TECHNOLOGIES</h3>
            <label class="text-mono bold w-100">Laravel</label>
            <label class="text-mono bold w-100">MySQL</label>
            <label class="text-mono bold w-100">HighCharts</label>
            <label class="text-mono bold w-100">Heoku</label>
          </div>
        </div>     
      </div>
      <div class="col-md-3 r-side div-aux">
      </div>
      <div class="col-md-9 r-side text-center text-mono large-div">
        <h2 class="bold sub-title pt-2 pb-1 rounded mr-3 mt-3">ABOUT THIS PROJECT</h2>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-8 col-sm-7 col-12 text-light">
            <label for="" class="w-100 b-shadow rounded">It is a Reservation System to students, teacher and administrative</label>
            <label for="" class="w-100 b-shadow rounded">The system allows that: </label>
            <p class="b-shadow rounded mb-2">
              The Students manages their Office Hours reservations and They can follow ther results.
            </p>
            <p class="b-shadow rounded mb-2">
              The Teachers manages the student's attendance to Class and Offices Hours 
            </p>
            <p class="b-shadow rounded mb-2">
              The Administration manages the class cycles and reporting
            </p>
          </div>
          <div class="col-md-4 col-sm-4 col-6">
            <img src="assets/img/idea.png" alt="fatsaas objective" class="img-fluid">
          </div>
        </div>


        <h3 class="bold sub-title pt-2 pb-1 rounded mr-3">CHECK IT</h3>
        <div class="row d-flex justify-content-center mb-5">
          <div class="col-md-6 ">
            <div class="functionalities">
              <img src="assets/img/cs-reservation.PNG" alt="Fatsaas Reservations" class="img-fluid" (click)="openLg(content,3)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
  
</ngb-carousel>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-mono">
    <ngb-carousel *ngIf="imgModal" [interval]="0" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let url of imgModal; index as i">
        <div class="row">
          <div class="col-md-12 text-center mb-2">
            <h3>{{imgTitle[i]}}</h3>
            <a *ngIf="i == 2 && landing != '' " [href]="landing" target="_blank"><em>Santana Landing</em></a>
          </div>
        </div>
        <div class="picsum-img-wrapper text-center">
          <img [src]="url" alt="Images Porjects" class="img-fluid imgs-modal">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

