#main_carousel {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #51a1cb;
}

.img-circle{
  border-radius: 130px;
}

.p-color{
  color: #0084c9;
}
.s-color{
  color: #fea621;
}
.p-bg{
  background-color: #0084c9;
}
.btn-shadow:hover{
  background-color: #7494a538;
}
.r-side {
  background-color: #51a1cb;
}
.l-side {
  background-color: #fea621;
  box-shadow: 3px 3px 9px 2px black;
  position: fixed;
  z-index: 10;
}
.content-info {
  color: white;
  font-size: 25px;

}
.text-mono{
  font-family: monospace;
}
.text-note {
  position: absolute;
  top: 90px;
  color: black;
  font-size: 2vw;
  padding-left: 35px;
  padding-right: 71px;
  transform: rotate(352deg);
}
@media (max-width: 1140px) {
  .text-note {
    font-size: 1.9vw;
  }
}
@media (max-width: 1112px) {
  .text-note {
    top: 70px;
    font-size: 1.9vw;
  }
}
@media (max-width: 1000px) {
  .info-g {
    font-size: 1.30rem;
  }
  .info-email {
    font-size: 0.80rem;
  }
  .cs50-short{
    font-size: 1.30rem;
  }
}
@media (max-width: 870px) {
  .text-note {
    top: 58px;
    padding-right: 60px;
  }
}
@media (max-width: 780px) {
  .text-note {
    top: 58px;
    padding-left: 20px;
    padding-right: 50px;
  }
}
@media (max-width: 767.27px) {
  .text-note {
    top: 90px;
    font-size: 2.5vw;
    padding-left: 30px;
    padding-right: 70px;
  }
  .div-aux{
    display: none;
  }
  .l-side {
    position: relative;
  }
  .info-g, .project-name {
    font-size: 1.90rem;
  }
  .info-email{
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .text-note {
    top: 60px;
    font-size: 2.5vw;
    padding-left: 30px;
    padding-right: 70px;
  }
}
@media (max-width: 590px) {
  .text-note {
    top: 60px;
    font-size: 2.5vw;
    padding-left: 20px;
    padding-right: 50px;
  }
}
@media (max-width: 575px) {
  .text-note {
    top: 90px;
    font-size: 3.4vw;
  }
}
@media (max-width: 575px) {
  .text-note {
    top: 80px;
  }
  .info-name{
    font-size: 1.7rem;
  }
}
.bold {
  font-weight: bold;
}
.project-name {
  color: white;
}
.project-b {
  background-color: #0084c9;
}

.sub-title{
  background-color: #dfdfdf;
}
.fatsaas-b
{
  background-image: url('/assets/img/fatsaasv1.png');
}
.fatsaas{
  position: absolute;
  top: 0;
  left: 0;
}

.functionalities{
  cursor: pointer;
  width: 90%;
  transition: .4s;
}

.functionalities:hover{
  cursor: pointer;
  transform: rotate(0deg);
  width: 100%;
  box-shadow: -6px 10px 14px 0px black;
}
/* .functionalities:hover::after {
  content: "CLICK TO SE MORE";
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0000006e;
  color: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.yscroll-h {
  overflow-y: hidden;
}
/* 
.large-div{
  max-height: 33em;
  overflow-y: scroll;
  padding-bottom: 50px;
} */
.b-shadow{
  background-color: #00000070;
}
.imgs-modal{
  max-height: 350px;
}
